 body div h1 h2 h3 li ul section main {
   font-family: inherit;
   font-size: inherit;
   margin: 0;
   padding: 0;
  list-style: none;
 }

body {
  background-color: black;
  color: #ff00f7;
  font-family: sans-serif
}

h1, h2, h4 {
  color: white;
}

h3{
  color: white;
}

h4{
  font-size: 13px;
  margin: 5px;
}

.envelope-controls {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.envelope{
  width: 350px;
  text-align: center;
}


.control {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
}

.knob:focus {
  outline: 0;
}

.osc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.osctype {
  margin: 0 10px;
  margin-bottom: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.types, .balance{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active {
  border-color: #ff00f7;
  background-color: #ff00f7;
}

.osccontrol{
  margin-bottom: 10px;
}

.oscillators {
  display: flex;
}

.settings{
  display: flex;
}

.types img {
  height:20px;
}

#canvas{
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
