 body div h1 h2 h3 li ul section main a {
   font-family: inherit;
   font-size: inherit;
   margin: 0;
   padding: 0;
  list-style: none;
}

body {
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.5s;
}

a:hover {
  color: #ff00f7
}
 header{
   position: absolute;
   right: 35px;
   top: 31px;
   text-align: end;
   align-items: flex-start;
 }

header img {
  height: 67px;
}

header h2{
  color: white;
  font-size: 22px;
  padding-left: 10px;
}

body {
  margin: 0;
  background-color: black;
  color: #ff00f7;
  font-family: sans-serif
}

h1, h2, h4 {
  color: white;
}

h3{
  color: white;
}

h4{
  font-size: 13px;
  margin: 5px;
}

.envelope-controls {
  margin-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.envelope{
  margin-top: 37px;
  width: 350px;
  text-align: center;
}


.control {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.knob{
  cursor: pointer;
}

.knob:focus {
  outline: 0;
}

.osc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.osctype {
  margin: 0 10px;
  margin-bottom: 35px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.types, .balance{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.osccontrol{
  margin-bottom: 10px;
}

.oscillator-controls {
  display: flex;
  justify-content: space-between;
}

.oscillators {
  display: flex;
}

.settings{
  display: flex;
}

.types img {
  height:20px;
}

#canvas{
  z-index: -1;
  position: absolute;
  height: 90%;
  top: 0;
  margin: auto;
  bottom: 0;
  width: 100vw;
}

.keyboard{
  justify-content: flex-end;
  display: flex;

}

.black {
  background-color: black;
  border: 1px solid #ff00f7;
  width: 20px;
  height: 120px;
  position: absolute;
  left: 10px;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.white {
  background-color: #ff00f7;
  border: 1px solid black;
  position: relative;
  width: 20px;
  display: flex;
  height: 180px;
  align-items: flex-end;
  justify-content: center;
}

.black .boardkey {
  color: #ff00f7;
}

.boardkey {
  text-align: center;
  color: black;
  margin-bottom: 5px;
}

.playblack{
  background-color: #00ffed;
  color: black;
  border: 1px solid black;
}

.playwhite{
  background-color: #00ffed;
  border-right: 1px solid #ff00f7;
  border-bottom: 1px solid #ff00f7;
}

.playblack .boardkey{
  color: black;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.bottom-right{
  display: flex;
  justify-content: flex-end;
}

.tuner{
  margin: 0 20px;
  margin-top: 9px;
}

.lfo-on-off{
  cursor: pointer;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  user-select: none;
  box-sizing: border-box;
}
.vibrato-controls, .tremolo-controls{
  display: flex;
}
.vibrato, .tremolo{
  text-align: center;
}

.tremolo {
  margin-left: 40px;
}
.vibrato-tremolo{
  display: flex;
  align-self: flex-end;
  margin-bottom: 20px;
  margin-right: 225px;
}

.vibrato-speed, .tremolo-speed{
  margin-right: 20px;
}

.presets {
  display: flex;
}

.bottom-left{
  text-align: center;
}
.preset {
  cursor: pointer;
  margin: 10px;
  height: 50px;
  width: 50px;
  background-color: white;
  color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  border-color: #ff00f7;
  background-color: #ff00f7;
}

.github {
  margin-bottom: -2px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.bottom-middle{
  align-self: center;
}

.toggle-controls{
  height: 50px;
  width: 50px;
  background-color: white;
  border-radius: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 30px;
  margin-top: 33px;
  font-size: 12px;
  font-weight: bold;
}

.active {
  border-color: #ff00f7;
  background-color: #ff00f7;
}

.hide {
  display: none;
}
